*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none !important;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.btn{
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  padding: 14px 28px;
  background-color: orangered;
}
h2{
  font-size: 48px;
  font-weight: 600;
  line-height: 62px;
  margin: 0;
}
p{
  font-size: 18px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: #5B5F77;
  margin: 0;
}
/* Nabvar part start */
nav .container{
  position: relative;
}
.navbar{
  padding-top: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.navbar-expand-lg .navbar-nav .nav-link{
  padding: 0;
}
.navbar-expand-lg .navbar-nav .nav-link{
  padding-left: 50px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}
.nav-btn a{
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  padding-right: 36px;
}
.nav-btn .btn{
  color: #30344E;
  background-color: #fff;
}
/* Nabvar part end */

/* banner part start */
.banner{
  background-image: url(/img/Header\ Section\ \(1\).png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
}
.banner h1{
  width: 640px;
  font-size: 60px;
  font-weight: 600;
  line-height: 74px;
  color: #fff;
}
.banner .p{
  color: #FFF;
  width: 535px;
  padding-top: 24px;
  padding-bottom: 40px;
}
.banner p{
  color: #FFF;
}
.banner-btn{
  margin-bottom: 50px;
}
.banner span{
  color: #52C5B6;
  padding-left: 5px;
}
.banner .box{
  margin-top: 71px;
  margin-bottom: 92px;
  display: flex;
}
.banner .pro{
  display: flex;
  position: relative;
  background-color: antiquewhite;
}
.banner .profile{
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
}
.banner .f2{
  top: 0;
  left: 30px;
  background-color: #52C5B6;
}
.banner .f3{
  top: 0;
  left: 60px;
  background-color: #84c552;
}
.banner .f4{
  top: 0;
  left: 90px;
  background-color: #5258c5;
}
.banner .rating{
  margin-left: 180px;
}
.banner .rating .icon{
  display: flex;
  column-gap: 20px;
}
.banner .rating .icon i{
  font-size: 13px;
  color: gold;
}
.banner .rating .icon h4{
  margin: 0;
  font-size: 26px;
  color: #52C5B6;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
.banner img{
  width: 100%;
  height: 100%;
}
/* banner part end */

/* wellcome part start */
.wellcome{
  padding: 130px 0;
}
.wellcome .right{
  padding: 74px 0 80px 74px;
}
.wellcome .w-icon p{
  padding-bottom: 18px;
}
.wellcome .p{
  padding-top: 20px;
  padding-bottom: 26px;
}
.wellcome h6{
  font-size: 20px;
  font-weight: 600;
  color: orangered;
}
.wellcome .well-btn{
  margin-top: 22px;
}
/* wellcome part end */

/* service part start */
.service{
  background-color: #FAFAFA;
  padding: 120px 0;
}
.ser-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ser-head h6{
  font-size: 20px;
  font-weight: 600;
  color: orangered;
}
.ser-head h2{
  width: 415px;
}
.ser-head p{
  width: 538px;
}
.service .ser-card{
  padding-top: 58px;
  justify-content: space-between;
}
.service .card img{
  width: 110px;
  height: 110px;
  margin: 0 auto;
}
.service .card{
  border: none;
  width: 23%;
  padding: 25px;
}
.service .card-body{
  padding: 0;
  text-align: center;
}
.service .card-title{
  font-size: 20px;
  font-weight: 600;
  padding-top: 30px;
}
.service .card-text{
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
/* service part end */

/* Best part start */
.best {
  padding: 160px 0;
}
.best img{
  width: 100%;
}
.best h2{
  width: 530px;
}
.best .p{
  padding-top: 20px;
  padding-bottom: 40px;
  width: 505px;
}
.best .b-content{
  margin-top: 55px;
}
.best .b-info h4{
  margin: 0;
  width: 260px;
  font-size: 24px;
  font-weight: 600;
}
.best .b-info p{
  width: 258px;
  font-size: 16px;
  padding-top: 12px;
}
/* Best part end */

/* Meetup part start */
.meetup{
  background-image: url(/img/meetup.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.meetup .m-heading h6{
  color: orangered;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding-top: 80px;
}
.meetup .m-heading h2{
  color: #fff;
  text-align: center;
  padding-bottom: 221px;
}
.meetup .card{
  position: relative;
  width: 300px;
  height: 350px;
  background-color: #C4C4C4;
}
.meetup .card .c-content{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 220px;
  height: 80px;
  background-color: #fff;
  border-top-right-radius: 10px;
}
.meetup .card .c-content h6{
  padding-top: 20px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
.meetup .card .c-content p{
  font-size: 14px;
  text-align: center;
}
.meetup .icon{position: absolute;
  right: 0;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.meetup .icon i{
  font-size: 40px;
}
.meetup .m-position{
  position: relative;
}
.meetup .m-card{
  position: absolute;
  top: 230px;
  left: 0;
}

/* Meetup part end */

/* Digital part start */
.digital .row{
  align-items: center;
}
.digital{
  padding-top: 250px;
  padding-bottom: 140px;
}
.digital img{
  width: 100%;
}
#accordionExample{
  margin-top: 50px;
}
.accordion-item{
  border: 1px solid #52C5B6;
  margin-bottom: 15px;
}
.accordion-button{
  font-size: 20px;
  font-weight: 600;
  padding: 0 30px;
  background-color: transparent;
  box-shadow: 0 0 0 transparent !important;
}
.accordion-body{
  font-size: 18px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
.accordion-button:not(.collapsed){
  background-color: #52C5B6;
}
.accordion-button::after{
  background-image: none !important;
  content: "+";
  transform:  translateY(-100%) rotate(0);
}
.accordion-button:not(.collapsed)::after{
  background-image: none !important;
  content: "x";
  transform:  translateY(-100%) rotate(0);
}
/* Digital part end */

/* Trust part start */
.trust{
  background-color: #00C8B3;
  padding: 110px 0;
}
.trust h3{
  color: #fff;
  font-size: 38px;
  font-weight: 600;
  padding-bottom: 40px;
  margin: 0;
}
.trust h1{
  color: #fff;
  font-size: 60px;
  font-weight: 600;
  padding-bottom: 24px;
  margin: 0;
}
.trust p{
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
.trust .logo{
  padding-top: 50px;
}
/* Trust part end */

/* Coustomer part start */
.coustomer{
  padding: 120px 0;
  background-color: #c4c4c491;
}
.coust-content{
  width: 85%;
  margin-top: 60px;
  padding: 60px;
  border-radius: 10px;
  background-color: #fff;
}
.coust-info{
  padding-top: 50px;
  align-items: center;
}
.coust-img{
  width: 80px;
  height: 80px;
  background-color: #C4C4C4;
  border-radius: 50%;
}
.img-title{
  align-items: center;
}
.img-title h6{
  font-size: 20px;
  font-weight: 600;
}
.img-title p{
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
.coust-info i{
  color: gold;
}
.coustomer .coust-chat img{
  width: 100%;
}
/* Coustomer part end */

/* Blog part start */
.blog{
  padding: 130px 0;
}
.blog h6{
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 8px;
  color: orangered;
  text-align: center;
}
.blog h2{
  text-align: center;
  margin: 0;
  padding-bottom: 60px;
}
.blog .card{
  border: none;
}
.blog .card img{
  width: 100%;
  height: 200px;
  background-color: #5b5f7762;
}
.blog .card-text{
  padding-top: 8px;
  padding-bottom: 20px;
  font-size: 16px;
}
.blog .card-title{
  padding-top: 20px;
  font-size: 24px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}
.blog .card-img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #5b5f7762;
}
.blog .card h6{
  font-size: 14px;
  font-weight: 400;
  color: #9C9BA9;
  font-family: "Inter", sans-serif;
}
.blog .card-last{
  display: flex;
  align-items: center;
  column-gap: 10px;
}
/* Blog part end */