*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none !important;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.btn{
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  padding: 14px 28px;
  background-color: orangered;
}
h2{
  font-size: 48px;
  font-weight: 600;
  line-height: 62px;
  margin: 0;
}
p{
  font-size: 18px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: #000;
  margin: 0;
}
/* Nabvar part start */
.nav{
  background-image: url(/img/Header\ Section\ \(1\).png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20px;
}
.navbar-expand-lg .navbar-nav .nav-link{
  padding: 0;
}
.navbar-expand-lg .navbar-nav .nav-link{
  padding-left: 50px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}
.nav-btn a{
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  padding-right: 36px;
}
.nav-btn .btn{
  color: #30344E;
  background-color: #fff;
}
/* Nabvar part end */

/* banner part start */
.banner{
  padding-top: 62px;
}
.banner h1{
  width: 640px;
  font-size: 60px;
  font-weight: 600;
  line-height: 74px;
  color: #fff;
}
.banner .p{
  color: #FFF;
  width: 535px;
  padding-top: 24px;
  padding-bottom: 40px;
}
.banner p{
  color: #FFF;
}
.banner-btn{
  margin-bottom: 50px;
}
.banner span{
  color: #52C5B6;
  padding-left: 5px;
}
.banner .box{
  margin-top: 71px;
  margin-bottom: 92px;
  display: flex;
}
.banner .pro{
  display: flex;
  position: relative;
  background-color: antiquewhite;
}
.banner .profile{
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
}
.banner .f2{
  top: 0;
  left: 30px;
  background-color: #52C5B6;
}
.banner .f3{
  top: 0;
  left: 60px;
  background-color: #84c552;
}
.banner .f4{
  top: 0;
  left: 90px;
  background-color: #5258c5;
}
.banner .rating{
  margin-left: 180px;
}
.banner .rating .icon{
  display: flex;
  column-gap: 20px;
}
.banner .rating .icon i{
  font-size: 13px;
  color: gold;
}
.banner .rating .icon h4{
  margin: 0;
  font-size: 26px;
  color: #52C5B6;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
.banner img{
  width: 100%;
  height: 100%;
}
/* banner part end */

/* wellcome part start */
.wellcome{
  padding: 130px 0;
}
.wellcome .right{
  padding: 74px 0 80px 74px;
}
.wellcome .w-icon p{
  padding-bottom: 18px;
}
.wellcome .p{
  padding-top: 20px;
  padding-bottom: 26px;
}
.wellcome h6{
  font-size: 20px;
  font-weight: 600;
  color: orangered;
}
.wellcome .well-btn{
  margin-top: 22px;
}
/* wellcome part end */

/* service part start */
.service{
  background-color: #FAFAFA;
  padding: 120px 0;
}
.ser-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ser-head h6{
  font-size: 20px;
  font-weight: 600;
  color: orangered;
}
.ser-head h2{
  width: 415px;
}
.ser-head p{
  width: 538px;
}
.service .ser-card{
  padding-top: 58px;
  justify-content: space-between;
}
.service .card img{
  width: 110px;
  height: 110px;
  margin: 0 auto;
}
.service .card{
  border: none;
  width: 23%;
  padding: 25px;
}
.service .card-body{
  padding: 0;
  text-align: center;
}
.service .card-title{
  font-size: 20px;
  font-weight: 600;
  padding-top: 30px;
}
.service .card-text{
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
/* service part end */